:root {
    --main-text-color: brown;
    --main-bold-text: 500;
}

h1, hr {
    color: var(--main-text-color);  
}

.main-container {
    padding: 30px;
}

.team-name, .team-players {
    display: inline-block;
}

.team-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.team-name {
    color: var(--main-text-color);
    font-weight: var(--main-bold-text);
    margin-right: 20px;
}

.modal-container {
    text-align: center;
}

.modal-title {
    font-size: 40px;
    margin: 30px 0;
    font-weight: var(--main-bold-text);
}

.modal-button {
    background-color: var(--main-text-color);
    color: white;
    display: inline-block;
    padding: 10px 20px;
}

.flag-container {
    margin-right: 10px;
}

.player-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.player-key {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: var(--main-bold-text);
}

.player-collected {
    background-color: var(--main-text-color);
    color: white;
}

.player-missing {
    border: 1px solid;
    color: var(--main-text-color);
}